---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | TeAro.org" description="About TeAro.org" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About TeAro.org</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/assets/wellington_waterfront.png"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					The Te Aro website is a project of <a href="https://evan.henshaw-plath.com">Evan Henshaw-Plath</a>, a web developer and activist
					who wants to see a more just and equitable world. He lives in Mt Victoria, Penoke, Wellington. 
				</p>
				<p>
					Wellington has a couple streets which are <a href="https://en.wikipedia.org/wiki/Carfree_city">car free</a> but most public space in Te Aro 
					is dedicated to cars and parking. This is a problem because it means that people are not
					able to use the space in a way that is safe and comfortable for them.
				</p>
				<p>
					Attempts at incrimental change have been made but they have been met with resistance
					by business people who don't understand urban planning. The only way to make real change 
					is to declare that we have a climate crisis and push forward.
				</p>
				<p>
					The only street parking that should be allowed in Te Aro is for people with mobility permits and delivery to businesses. 
					All other parking should be removed and replaced with bike & bus lanes, wider footpaths, and more trees.
				</p>
				<p>
					Cities <a href="https://www.intelligentliving.co/cities-going-car-free/">all over the world are going car free</a>.  
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
